!! xterm
xterm*termName: xterm-256color
xterm*selectToClipboard: true
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
xTerm.vt100.backarrowKey: false
xTerm.ttyModes: erase ^?
xTerm.vt100.metaSendsEscape: true
! xterm*faceName: CaskaydiaCove Nerd Font Mono
xterm*faceName: JetBrainsMono Nerd Font Mono
! XTerm.vt100.faceName: Liberation Mono:size=10:antialias=false
! xterm*faceSize: 12
xterm*ScrollBar: false
! xterm*bufferedFPS: 175
! *.vt100.reverseVideo: true

xterm*disallowedWindowOps: 20,21,SetXProp

! KEYBINDINGS
xterm*VT100.Translations: #override \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\

!!! Cursor collor
! *background: #ffffff
! *foreground: #000000

!!! COLORSCHEMES !!!
! ! Catppucin-Frappe theme
! *background: #303446
! *foreground: #C6D0F5
!
! ! black
! *color0: #51576D
! *color8: #626880
!
! ! red
! *color1: #E78284
! *color9: #E78284
!
! ! green
! *color2: #A6D189
! *color10: #A6D189
!
! ! yellow
! *color3: #E5C890
! *color11: #E5C890
!
! ! blue
! *color4: #8CAAEE
! *color12: #8CAAEE
!
! ! magenta
! *color5: #F4B8E4
! *color13: #F4B8E4
!
! ! cyan
! *color6: #81C8BE
! *color14: #81C8BE
!
! ! white
! *color7: #B5BFE2
! *color15: #A5ADCE

! ! Catppuccin-Mocha theme
! *background: #1E1E2E
! *foreground: #CDD6F4
!
! ! black
! ! *color0: #45475A
! *color0: #1E1E2E
! *color8: #585B70
!
! ! red
! *color1: #F38BA8
! *color9: #F38BA8
!
! ! green
! *color2: #A6E3A1
! *color10: #A6E3A1
!
! ! yellow
! *color3: #F9E2AF
! *color11: #F9E2AF
!
! ! blue
! *color4: #89B4FA
! *color12: #89B4FA
!
! ! magenta
! *color5: #F5C2E7
! *color13: #F5C2E7
!
! ! cyan
! *color6: #94E2D5
! *color14: #94E2D5
!
! ! white
! *color7: #BAC2DE
! *color15: #A6ADC8

! ! Base16 Spacemacs
! ! Scheme: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)
!
! #define base00 #1f2022
! #define base01 #282828
! #define base02 #444155
! #define base03 #585858
! #define base04 #b8b8b8
! #define base05 #a3a3a3
! #define base06 #e8e8e8
! #define base07 #f8f8f8
! #define base08 #f2241f
! #define base09 #ffa500
! #define base0A #b1951d
! #define base0B #67b11d
! #define base0C #2d9574
! #define base0D #4f97d7
! #define base0E #a31db1
! #define base0F #b03060
!
! *.foreground:   base05
! #ifdef background_opacity
! *.background:   [background_opacity]base00
! #else
! *.background:   #1f1f1f
! #endif
! *.cursorColor:  #ffffff
!
! *.color0:       base00
! *.color1:       base08
! *.color2:       base0B
! *.color3:       base0A
! *.color4:       base0D
! *.color5:       base0E
! *.color6:       base0C
! *.color7:       base05
!
! *.color8:       base03
! *.color9:       base08
! *.color10:      base0B
! *.color11:      base0A
! *.color12:      base0D
! *.color13:      base0E
! *.color14:      base0C
! *.color15:      base07
!
! ! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! ! use 'shell' template to set these if necessary
! *.color16:      base09
! *.color17:      base0F
! *.color18:      base01
! *.color19:      base02
! *.color20:      base04
! *.color21:      base06

! Base16 OneDark
! Scheme: Lalit Magant (http://github.com/tilal6991)

xterm*.cursorColor:  #ffffff
#define base00 #282c34
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

! ! Rose-pine-dawn
! ! special
! *.foreground:   #575279
! *.background:   #faf4ed
! *.cursorColor:  #575279
!
! ! black
! *.color0:       #fffaf3
! *.color8:       #f2e9e1
!
! ! red
! *.color1:       #b4637a
! *.color9:       #b4637a
!
! ! green
! *.color2:       #ea9d34
! *.color10:      #ea9d34
!
! ! yellow
! *.color3:       #d7827e
! *.color11:      #d7827e
!
! ! blue
! *.color4:       #286983
! *.color12:      #286983
!
! ! magenta
! *.color5:       #907aa9
! *.color13:      #907aa9
!
! ! cyan
! *.color6:       #56949f
! *.color14:      #56949f
!
! ! white
! *.color7:       #9893a5
! *.color15:      #797593

! ! catppuccin-latte theme:
! *background: #EFF1F5
! *foreground: #4C4F69
!
! ! black
! *color0: #5C5F77
! *color8: #6C6F85
!
! ! red
! *color1: #D20F39
! *color9: #D20F39
!
! ! green
! *color2: #40A02B
! *color10: #40A02B
!
! ! yellow
! *color3: #DF8E1D
! *color11: #DF8E1D
!
! ! blue
! *color4: #1E66F5
! *color12: #1E66F5
!
! ! magenta
! *color5: #EA76CB
! *color13: #EA76CB
!
! ! cyan
! *color6: #179299
! *color14: #179299
!
! ! white
! *color7: #ACB0BE
! *color15: #BCC0CC

! ! special
! xterm*.foreground:   #ffffff
! xterm*.background:   #282C34
! ! xterm*.background:   #282C34
! xterm*.cursorColor:  #ffffff
!
! ! black
! *.color0:       #282C34
! *.color8:       #5c5855
!
! ! red
! *.color1:       #db2d20
! *.color9:       #db2d20
!
! ! green
! *.color2:       #01a252
! *.color10:      #01a252
!
! ! yellow
! *.color3:       #fded02
! *.color11:      #fded02
!
! ! blue
! *.color4:       #01a0e4
! *.color12:      #01a0e4
!
! ! magenta
! *.color5:       #a16a94
! *.color13:      #a16a94
!
! ! cyan
! *.color6:       #b5e4f4
! *.color14:      #b5e4f4
!
! ! white
! *.color7:       #a5a2a2
! *.color15:      #f7f7f7

! ! ! Rose-Pine
! *background: #191724 
! *foreground: #e0def4
!
! ! overlay + muted
! ! *color0: #191724
! *color0: #0f0f0f
! *color8: #6e6a86
!
! ! love
! *color1: #eb6f92
! *color9: #eb6f92
!
! ! foam
! *color2: #9ccfd8
! *color10: #9ccfd8
!
! ! gold
! *color3: #f6c177
! *color11: #f6c177
!
! ! pine
! *color4: #31748f
! *color12: #31748f
!
! ! iris
! *color5: #c4a7e7
! *color13: #c4a7e7
!
! ! rose
! *color6: #ebbcba
! *color14: #ebbcba
!
! ! text
! *color7: #e0def4
! *color15: #e0def4
!
! Enable sixel graphics
XTerm*decTerminalID: vt340
XTerm*numColorRegisters: 256
XTerm*disallowedWindowOps: 1,2,3,4,5,6,7,8,9,11,13,19,20,21,GetSelection,SetSelection,SetWinLines,SetXprop
